.main-nav{
    
    .header-left{
        @include font-sans-bold;
        font-size: 2.5rem;
        color: $orange !important;
        text-decoration: none;
    }
   input{
       border-radius: 0.8rem;
   }
   .nav-icon{
       font-size: 1.5rem;
   }
    

}

